section.services
  .container.services__container
    .services__gray-block
      h2.services__title Наши услуги
      .services__block
        h3.services__block-title Здоровье зубов
        .services__sections.services__sections--first
          .services__section
            h4.services__section-title Если зуб<br> болит
            ul.services__sections-list
              each val in ['Консультация', 'Лечение зубов', 'Лечение десен', 'Удаление зуба']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
          .services__section
            h4.services__section-title Если зуб<br> разрушен
            ul.services__sections-list
              each val in ['Имплантация зубов', 'Протезирование зубов', 'Реставрация зубов', 'Имплантация зубов']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
          .services__section
            h4.services__section-title Чтобы зубы<br> не болели
            ul.services__sections-list
              each val in ['Чистка зубов', 'Имплантация зубов', 'Имплантация зубов', 'Имплантация зубов']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
          .services__section
            h4.services__section-title Особый<br> уход
            ul.services__sections-list
              each val in ['Имплантация зубов', 'Имплантация зубов', 'Имплантация зубов', 'Имплантация зубов']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
      .services__block
        h3.services__block-title Красота зубов
        .services__sections.services__sections--second
          .services__section
            h4.services__section-title Сделать зубы<br> ровными
            ul.services__sections-list
              each val in ['Консультация', 'Консультация', 'Консультация']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
          .services__section
            h4.services__section-title Восстановить<br> форму зубов
            ul.services__sections-list
              each val in ['Консультация', 'Консультация', 'Консультация']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
          .services__section
            h4.services__section-title Сделать зубы<br> белыми
            ul.services__sections-list
              each val in ['ZOOM4', 'Чистка зубов', 'Консультация']
                li.services__sections-item
                  a.link--underline.services__sections-link(href="#")= val
