section.all-services
  .container.all-services__container
    .all-services__block
      .all-services__list
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Лечение зубов без боли
          hr
          ul.all-services__serv-list
            each val in ['Лечение кариеса', 'Лечение кариеса без сверления методом ICON в Уфе', 'Лечение периодонтита', 'Лечение пульпита', 'Реставрация зубов', 'Установка пломбы']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Хирургическая стоматология
          hr
          ul.all-services__serv-list
            each val in ['Костная пластика', 'Лечения кисты зуба в стоматологии Риадент', 'Удаление зубов', 'Удаление зубов мудрости', 'Установка имплантатов Nobel Biocare', 'Синус лифтинг']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Имплантация зубов
          hr
          ul.all-services__serv-list
            each val in ['Установка имплантата', 'Установка протезов на 4-х имплантах. All-On-4']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Анестезия
          hr
          ul.all-services__serv-list
            each val in ['Проводниковая анестезия', 'Инфильтрационная анестезия']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Ортодонтическая стоматология
          hr
          ul.all-services__serv-list
            each val in ['Установка брекетов']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Детская стоматология
          hr
          ul.all-services__serv-list
            each val in ['Детская стоматология']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Компьютерная томография
          hr
          ul.all-services__serv-list
            each val in ['Исследование методом 3D компьютерной томографии 40x40', 'Исследование методом 3D компьютерной томографии 70x70', 'Исследование методом 3D компьютерной томографии 80x80', 'Исследование методом 3D компьютерной томографии 100x100', 'Исследование методом 3D компьютерной томографии (ОПТГ+ТРГ) одна проекция', 'Исследование ВНЧС методом 3D компьютерной томографии', 'Ортопантомограмма', 'Телерентгенограмма']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Пародонтологическое отделение
          hr
          ul.all-services__serv-list
            each val in ['Лечение пародонтита аппаратом Вектор', 'Снятие зубных отложений', 'Снятие зубного налета', 'Снятие бактериальной биопленки', 'Лечение воспалительных заболеваний', 'Вестибулопластика', 'Френулопластика', 'Закрытие рецессии десны', 'Лоскутная операция', 'Закрытый кюретаж', 'Шинирование', 'Консультация по заболеваниям', 'Криотерапия']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Ортопедическое отделение
          hr
          ul.all-services__serv-list
            each val in ['Металлокерамическая коронка', 'Пластмассовая коронка', 'Съемный протез', 'Временная коронка на импланат', 'Коронка из оксида циркония', 'Бюгельный протез', 'Лечение Бруксизма', 'Виниры']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Эстетическая стоматология
          hr
          ul.all-services__serv-list
            each val in ['Виниры и Люминиры', 'Коронки', 'Медицинское отбеливание зубов в Уфе с Zoom 4', 'Реставрация зубов', 'Ультразвуковая чистка зубов']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
        .all-services__item
          h3.all-services__item-title
            a.all-services__title-link(href="#") Новые зубы за 1 день по технологии All-On-4 в Уфе
          hr
          ul.all-services__serv-list
            each val in ['Несъемные протезы на 4-х имплантах по технологии All-on-4', 'Несъемные протезы на 6-ти имплантах по технологии All-on-6', 'Несъемные протезы на 8-ми имплантах по технологии All-on-8']
              li.all-services__serv-item
                a.all-services__serv-link(href="#")= val
